<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hdsw.mapper.GslineMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.hdsw.model.Gsline">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="长度" jdbcType="NUMERIC" property="len" />
    <result column="geom" jdbcType="OTHER" property="geom" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, id, 长度, geom
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "gsline"
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "gsline"
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <!-- 批量删除 -->
  <delete id="batchDelete" parameterType="int">
    delete from gsline where gid in
    <foreach item="gid" collection="ids" open="(" separator="," close=")">
      #{gid}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.hdsw.model.Gsline">
    insert into "gsline" (gid, id, 长度,
      geom)
    values (#{gid,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{len,jdbcType=NUMERIC},
      ST_GeomFromText(#{geom}, 4326))
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.hdsw.model.Gsline">
    insert into "gsline"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="len != null">
        len,
      </if>
      <if test="geom != null">
        geom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="len != null">
        #{len,jdbcType=NUMERIC},
      </if>
      <if test="geom != null">
        ST_GeomFromText(#{geom}, 4326),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.hdsw.model.Gsline">
    update "gsline"
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="len != null">
        长度 = #{len,jdbcType=NUMERIC},
      </if>
      <if test="geom != null">
        geom = ST_GeomFromText(#{geom}, 4326),
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.hdsw.model.Gsline">
    update "gsline"
    set id = #{id,jdbcType=INTEGER},
      长度 = #{len,jdbcType=NUMERIC},
      geom = ST_GeomFromText(#{geom}, 4326)
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>