<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hdsw.mapper.HdbjMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.hdsw.model.Hdbj">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="oid_" jdbcType="INTEGER" property="oid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="folderpath" jdbcType="VARCHAR" property="folderpath" />
    <result column="symbolid" jdbcType="INTEGER" property="symbolid" />
    <result column="altmode" jdbcType="SMALLINT" property="altmode" />
    <result column="base" jdbcType="NUMERIC" property="base" />
    <result column="clamped" jdbcType="SMALLINT" property="clamped" />
    <result column="extruded" jdbcType="SMALLINT" property="extruded" />
    <result column="snippet" jdbcType="VARCHAR" property="snippet" />
    <result column="popupinfo" jdbcType="VARCHAR" property="popupinfo" />
    <result column="shape_leng" jdbcType="NUMERIC" property="shapeLeng" />
    <result column="geom" jdbcType="OTHER" property="geom" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, oid_, "name", folderpath, symbolid, altmode, base, clamped, extruded, snippet, 
    popupinfo, shape_leng, geom
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "hdbj"
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "hdbj"
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.hdsw.model.Hdbj">
    insert into "hdbj" (gid, oid_, "name", 
      folderpath, symbolid, altmode, 
      base, clamped, extruded, 
      snippet, popupinfo, shape_leng, 
      geom)
    values (#{gid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{folderpath,jdbcType=VARCHAR}, #{symbolid,jdbcType=INTEGER}, #{altmode,jdbcType=SMALLINT}, 
      #{base,jdbcType=NUMERIC}, #{clamped,jdbcType=SMALLINT}, #{extruded,jdbcType=SMALLINT}, 
      #{snippet,jdbcType=VARCHAR}, #{popupinfo,jdbcType=VARCHAR}, #{shapeLeng,jdbcType=NUMERIC}, 
      #{geom,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.hdsw.model.Hdbj">
    insert into "hdbj"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="oid != null">
        oid_,
      </if>
      <if test="name != null">
        "name",
      </if>
      <if test="folderpath != null">
        folderpath,
      </if>
      <if test="symbolid != null">
        symbolid,
      </if>
      <if test="altmode != null">
        altmode,
      </if>
      <if test="base != null">
        base,
      </if>
      <if test="clamped != null">
        clamped,
      </if>
      <if test="extruded != null">
        extruded,
      </if>
      <if test="snippet != null">
        snippet,
      </if>
      <if test="popupinfo != null">
        popupinfo,
      </if>
      <if test="shapeLeng != null">
        shape_leng,
      </if>
      <if test="geom != null">
        geom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="folderpath != null">
        #{folderpath,jdbcType=VARCHAR},
      </if>
      <if test="symbolid != null">
        #{symbolid,jdbcType=INTEGER},
      </if>
      <if test="altmode != null">
        #{altmode,jdbcType=SMALLINT},
      </if>
      <if test="base != null">
        #{base,jdbcType=NUMERIC},
      </if>
      <if test="clamped != null">
        #{clamped,jdbcType=SMALLINT},
      </if>
      <if test="extruded != null">
        #{extruded,jdbcType=SMALLINT},
      </if>
      <if test="snippet != null">
        #{snippet,jdbcType=VARCHAR},
      </if>
      <if test="popupinfo != null">
        #{popupinfo,jdbcType=VARCHAR},
      </if>
      <if test="shapeLeng != null">
        #{shapeLeng,jdbcType=NUMERIC},
      </if>
      <if test="geom != null">
        #{geom,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.hdsw.model.Hdbj">
    update "hdbj"
    <set>
      <if test="oid != null">
        oid_ = #{oid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        "name" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="folderpath != null">
        folderpath = #{folderpath,jdbcType=VARCHAR},
      </if>
      <if test="symbolid != null">
        symbolid = #{symbolid,jdbcType=INTEGER},
      </if>
      <if test="altmode != null">
        altmode = #{altmode,jdbcType=SMALLINT},
      </if>
      <if test="base != null">
        base = #{base,jdbcType=NUMERIC},
      </if>
      <if test="clamped != null">
        clamped = #{clamped,jdbcType=SMALLINT},
      </if>
      <if test="extruded != null">
        extruded = #{extruded,jdbcType=SMALLINT},
      </if>
      <if test="snippet != null">
        snippet = #{snippet,jdbcType=VARCHAR},
      </if>
      <if test="popupinfo != null">
        popupinfo = #{popupinfo,jdbcType=VARCHAR},
      </if>
      <if test="shapeLeng != null">
        shape_leng = #{shapeLeng,jdbcType=NUMERIC},
      </if>
      <if test="geom != null">
        geom = #{geom,jdbcType=OTHER},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.hdsw.model.Hdbj">
    update "hdbj"
    set oid_ = #{oid,jdbcType=INTEGER},
      "name" = #{name,jdbcType=VARCHAR},
      folderpath = #{folderpath,jdbcType=VARCHAR},
      symbolid = #{symbolid,jdbcType=INTEGER},
      altmode = #{altmode,jdbcType=SMALLINT},
      base = #{base,jdbcType=NUMERIC},
      clamped = #{clamped,jdbcType=SMALLINT},
      extruded = #{extruded,jdbcType=SMALLINT},
      snippet = #{snippet,jdbcType=VARCHAR},
      popupinfo = #{popupinfo,jdbcType=VARCHAR},
      shape_leng = #{shapeLeng,jdbcType=NUMERIC},
      geom = #{geom,jdbcType=OTHER}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>