<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hdsw.mapper.WslinesMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.hdsw.model.Gxmodel">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="shape_leng" jdbcType="NUMERIC" property="shapeLeng" />
    <result column="pipeid" jdbcType="VARCHAR" property="pipeid" />
    <result column="s_point" jdbcType="VARCHAR" property="sPoint" />
    <result column="e_point" jdbcType="VARCHAR" property="ePoint" />
    <result column="s_deep" jdbcType="NUMERIC" property="sDeep" />
    <result column="e_deep" jdbcType="NUMERIC" property="eDeep" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="d_type" jdbcType="VARCHAR" property="dType" />
    <result column="d_s" jdbcType="VARCHAR" property="dS" />
    <result column="flowdirect" jdbcType="INTEGER" property="flowdirect" />
    <result column="s_height" jdbcType="DOUBLE" property="sHeight" />
    <result column="e_height" jdbcType="DOUBLE" property="eHeight" />
    <result column="b_time" jdbcType="VARCHAR" property="bTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="road" jdbcType="VARCHAR" property="road" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="geom" jdbcType="OTHER" property="geom" />
    <result column="del_state" jdbcType="VARCHAR" property="delState" />
    <result column="upd_state" jdbcType="VARCHAR" property="updState" />
    <result column="style" jdbcType="VARCHAR" property="style" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, shape_leng, pipeid, s_point, e_point, s_deep, e_deep, material, d_type, d_s,
    flowdirect, s_height, e_height, b_time, "state", "type", road, "owner", geom, del_state,
    upd_state,style
  </sql>
  <select id="selectByGxbh" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "wslines"
    where pipeid = #{pipeid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "wslines"
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "wslines"
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <!-- 批量删除 -->
  <delete id="batchDelete" parameterType="int">
    delete from wslines where gid in
    <foreach item="gid" collection="ids" open="(" separator="," close=")">
      #{gid}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.hdsw.model.Gxmodel">
    <selectKey keyProperty="gid" order="AFTER" resultType="java.lang.Integer">
      SELECT nextval('wslines_gid_seq')
    </selectKey>
    insert into "wslines" (shape_leng, pipeid, s_point,
    e_point, s_deep, e_deep,
    material, d_type, d_s,
    flowdirect, s_height, e_height,
    b_time, "state", "type",
    road, "owner", geom, del_state,
    upd_state,style)
    values (#{shapeLeng,jdbcType=NUMERIC}, #{pipeid,jdbcType=VARCHAR}, #{sPoint,jdbcType=VARCHAR},
    #{ePoint,jdbcType=VARCHAR}, #{sDeep,jdbcType=NUMERIC}, #{eDeep,jdbcType=NUMERIC},
    #{material,jdbcType=VARCHAR}, #{dType,jdbcType=VARCHAR}, #{dS,jdbcType=VARCHAR},
    #{flowdirect,jdbcType=INTEGER}, #{sHeight,jdbcType=DOUBLE}, #{eHeight,jdbcType=DOUBLE},
    #{bTime,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
    #{road,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR},  ST_GeomFromText(#{geom}, 4326), #{delState,jdbcType=VARCHAR},
    #{updState,jdbcType=VARCHAR},#{style,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.hdsw.model.Gxmodel">
    <selectKey keyProperty="gid" order="AFTER" resultType="java.lang.Integer">
      SELECT nextval('wslines_gid_seq')
    </selectKey>
    insert into "wslines"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shapeLeng != null">
        shape_leng,
      </if>
      <if test="pipeid != null">
        pipeid,
      </if>
      <if test="sPoint != null">
        s_point,
      </if>
      <if test="ePoint != null">
        e_point,
      </if>
      <if test="sDeep != null">
        s_deep,
      </if>
      <if test="eDeep != null">
        e_deep,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="dType != null">
        d_type,
      </if>
      <if test="dS != null">
        d_s,
      </if>
      <if test="flowdirect != null">
        flowdirect,
      </if>
      <if test="sHeight != null">
        s_height,
      </if>
      <if test="eHeight != null">
        e_height,
      </if>
      <if test="bTime != null">
        b_time,
      </if>
      <if test="state != null">
        "state",
      </if>
      <if test="type != null">
        "type",
      </if>
      <if test="road != null">
        road,
      </if>
      <if test="owner != null">
        "owner",
      </if>
      <if test="geom != null">
        geom,
      </if>
      <if test="delState != null">
        del_state,
      </if>
      <if test="updState != null">
        upd_state,
      </if>
      <if test="style != null">
        style,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shapeLeng != null">
        #{shapeLeng,jdbcType=NUMERIC},
      </if>
      <if test="pipeid != null">
        #{pipeid,jdbcType=VARCHAR},
      </if>
      <if test="sPoint != null">
        #{sPoint,jdbcType=VARCHAR},
      </if>
      <if test="ePoint != null">
        #{ePoint,jdbcType=VARCHAR},
      </if>
      <if test="sDeep != null">
        #{sDeep,jdbcType=NUMERIC},
      </if>
      <if test="eDeep != null">
        #{eDeep,jdbcType=NUMERIC},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="dType != null">
        #{dType,jdbcType=VARCHAR},
      </if>
      <if test="dS != null">
        #{dS,jdbcType=VARCHAR},
      </if>
      <if test="flowdirect != null">
        #{flowdirect,jdbcType=INTEGER},
      </if>
      <if test="sHeight != null">
        #{sHeight,jdbcType=DOUBLE},
      </if>
      <if test="eHeight != null">
        #{eHeight,jdbcType=DOUBLE},
      </if>
      <if test="bTime != null">
        #{bTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="road != null">
        #{road,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="geom != null">
        ST_GeomFromText(#{geom}, 4326),
      </if>
      <if test="delState != null">
        #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        #{updState,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        #{style,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.hdsw.model.Gxmodel">
    update "wslines"
    <set>
      <if test="shapeLeng != null">
        shape_leng = #{shapeLeng,jdbcType=NUMERIC},
      </if>
      <if test="pipeid != null">
        pipeid = #{pipeid,jdbcType=VARCHAR},
      </if>
      <if test="sPoint != null">
        s_point = #{sPoint,jdbcType=VARCHAR},
      </if>
      <if test="ePoint != null">
        e_point = #{ePoint,jdbcType=VARCHAR},
      </if>
      <if test="sDeep != null">
        s_deep = #{sDeep,jdbcType=NUMERIC},
      </if>
      <if test="eDeep != null">
        e_deep = #{eDeep,jdbcType=NUMERIC},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="dType != null">
        d_type = #{dType,jdbcType=VARCHAR},
      </if>
      <if test="dS != null">
        d_s = #{dS,jdbcType=VARCHAR},
      </if>
      <if test="flowdirect != null">
        flowdirect = #{flowdirect,jdbcType=INTEGER},
      </if>
      <if test="sHeight != null">
        s_height = #{sHeight,jdbcType=DOUBLE},
      </if>
      <if test="eHeight != null">
        e_height = #{eHeight,jdbcType=DOUBLE},
      </if>
      <if test="bTime != null">
        b_time = #{bTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        "state" = #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        "type" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="road != null">
        road = #{road,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        "owner" = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="geom != null">
        geom =  ST_GeomFromText(#{geom}, 4326),
      </if>
      <if test="delState != null">
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        upd_state = #{updState,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=VARCHAR},
      </if>
    </set>
    where pipeid = #{pipeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.hdsw.model.Gxmodel">
    update "wslines"
    set shape_leng = #{shapeLeng,jdbcType=NUMERIC},
    pipeid = #{pipeid,jdbcType=VARCHAR},
    s_point = #{sPoint,jdbcType=VARCHAR},
    e_point = #{ePoint,jdbcType=VARCHAR},
    s_deep = #{sDeep,jdbcType=NUMERIC},
    e_deep = #{eDeep,jdbcType=NUMERIC},
    material = #{material,jdbcType=VARCHAR},
    d_type = #{dType,jdbcType=VARCHAR},
    d_s = #{dS,jdbcType=VARCHAR},
    flowdirect = #{flowdirect,jdbcType=INTEGER},
    s_height = #{sHeight,jdbcType=DOUBLE},
    e_height = #{eHeight,jdbcType=DOUBLE},
    b_time = #{bTime,jdbcType=VARCHAR},
    "state" = #{state,jdbcType=VARCHAR},
    "type" = #{type,jdbcType=VARCHAR},
    road = #{road,jdbcType=VARCHAR},
    "owner" = #{owner,jdbcType=VARCHAR},
    geom =  ST_GeomFromText(#{geom}, 4326),
    del_state = #{delState,jdbcType=VARCHAR},
    upd_state = #{updState,jdbcType=VARCHAR},
    style = #{style,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateState">
    update "wslines"
    <set>
      <if test="delState != null">
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        upd_state = #{updState,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <select id="getMaxNum" resultType="int">
     select max(cast(substring(pipeid,4) as integer)) from wslines
  </select>
  <select id="selectByState"  resultMap="BaseResultMap">
    select
    gid, shape_leng, pipeid, s_point, e_point, s_deep, e_deep, material, d_type, d_s,
    flowdirect, s_height, e_height, b_time, "state", "type", road, "owner", st_asgeojson(geom) geom, del_state,
    upd_state,style
    from "wslines"
    <where>
      <if test="delState != null and delState != '' "> AND del_state  =#{delState} </if>
      <if test="updState != null and updState != '' "> AND upd_state  =#{updState} </if>
    </where>
  </select>
  <select id="spoint" resultType="com.ruoyi.hdsw.model.Gxmodel">
    select pipeid,ST_Astext(geom) geom from "yslines" where s_point=#{spoint}
  </select>
  <select id="epoint" resultType="com.ruoyi.hdsw.model.Gxmodel">
    select pipeid,ST_Astext(geom) geom from "yslines" where e_point=#{epoint}
  </select>
</mapper>