<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hdsw.mapper.WspointsMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.hdsw.model.Gdmodel">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="exp_no" jdbcType="VARCHAR" property="expNo" />
    <result column="feature" jdbcType="VARCHAR" property="feature" />
    <result column="subsid" jdbcType="VARCHAR" property="subsid" />
    <result column="elevation" jdbcType="DOUBLE" property="elevation" />
    <result column="sure_h" jdbcType="DOUBLE" property="sureH" />
    <result column="bot_depth" jdbcType="DOUBLE" property="botDepth" />
    <result column="cov_type" jdbcType="VARCHAR" property="covType" />
    <result column="cov_dn" jdbcType="VARCHAR" property="covDn" />
    <result column="cov_meat" jdbcType="VARCHAR" property="covMeat" />
    <result column="wcha_meat" jdbcType="VARCHAR" property="wchaMeat" />
    <result column="wcha_type" jdbcType="VARCHAR" property="wchaType" />
    <result column="fo_deep" jdbcType="DOUBLE" property="foDeep" />
    <result column="wcha_dn" jdbcType="VARCHAR" property="wchaDn" />
    <result column="b_time" jdbcType="VARCHAR" property="bTime" />
    <result column="offc_no" jdbcType="VARCHAR" property="offcNo" />
    <result column="rotation" jdbcType="DOUBLE" property="rotation" />
    <result column="x" jdbcType="NUMERIC" property="x" />
    <result column="y" jdbcType="NUMERIC" property="y" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="road" jdbcType="VARCHAR" property="road" />
    <result column="geom" jdbcType="OTHER" property="geom" />
    <result column="del_state" jdbcType="VARCHAR" property="delState" />
    <result column="upd_state" jdbcType="VARCHAR" property="updState" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, exp_no, feature, subsid, elevation, sure_h, bot_depth, cov_type, cov_dn, cov_meat,
    wcha_meat, wcha_type, fo_deep, wcha_dn, b_time, offc_no, rotation, x, y, "owner",
    road, geom, del_state, upd_state,type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "wspoints"
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <select id="selectByGdbh" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from "wspoints"
    where exp_no = #{expNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "wspoints"
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.hdsw.model.Gdmodel">
    <selectKey keyProperty="gid" order="AFTER" resultType="java.lang.Integer">
      SELECT nextval('wspoints_gid_seq')
    </selectKey>
    insert into "wspoints" (exp_no, feature, subsid,
    elevation, sure_h, bot_depth,
    cov_type, cov_dn, cov_meat,
    wcha_meat, wcha_type, fo_deep,
    wcha_dn, b_time, offc_no,
    rotation, x, y, "owner",
    road, geom, del_state,
    upd_state,type)
    values (#{expNo,jdbcType=VARCHAR}, #{feature,jdbcType=VARCHAR}, #{subsid,jdbcType=VARCHAR},
    #{elevation,jdbcType=DOUBLE}, #{sureH,jdbcType=DOUBLE}, #{botDepth,jdbcType=DOUBLE},
    #{covType,jdbcType=VARCHAR}, #{covDn,jdbcType=VARCHAR}, #{covMeat,jdbcType=VARCHAR},
    #{wchaMeat,jdbcType=VARCHAR}, #{wchaType,jdbcType=VARCHAR}, #{foDeep,jdbcType=DOUBLE},
    #{wchaDn,jdbcType=VARCHAR}, #{bTime,jdbcType=VARCHAR}, #{offcNo,jdbcType=VARCHAR},
    #{rotation,jdbcType=DOUBLE}, #{x,jdbcType=NUMERIC}, #{y,jdbcType=NUMERIC}, #{owner,jdbcType=VARCHAR},
    #{road,jdbcType=VARCHAR}, ST_GeomFromText(#{geom}, 4326), #{delState,jdbcType=VARCHAR},
    #{updState,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.hdsw.model.Gdmodel">
    <selectKey keyProperty="gid" order="AFTER" resultType="java.lang.Integer">
      SELECT nextval('wspoints_gid_seq')
    </selectKey>
    insert into "wspoints"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expNo != null">
        exp_no,
      </if>
      <if test="feature != null">
        feature,
      </if>
      <if test="subsid != null">
        subsid,
      </if>
      <if test="elevation != null">
        elevation,
      </if>
      <if test="sureH != null">
        sure_h,
      </if>
      <if test="botDepth != null">
        bot_depth,
      </if>
      <if test="covType != null">
        cov_type,
      </if>
      <if test="covDn != null">
        cov_dn,
      </if>
      <if test="covMeat != null">
        cov_meat,
      </if>
      <if test="wchaMeat != null">
        wcha_meat,
      </if>
      <if test="wchaType != null">
        wcha_type,
      </if>
      <if test="foDeep != null">
        fo_deep,
      </if>
      <if test="wchaDn != null">
        wcha_dn,
      </if>
      <if test="bTime != null">
        b_time,
      </if>
      <if test="offcNo != null">
        offc_no,
      </if>
      <if test="rotation != null">
        rotation,
      </if>
      <if test="x != null">
        x,
      </if>
      <if test="y != null">
        y,
      </if>
      <if test="owner != null">
        "owner",
      </if>
      <if test="road != null">
        road,
      </if>
      <if test="geom != null">
        geom,
      </if>
      <if test="delState != null">
        del_state,
      </if>
      <if test="updState != null">
        upd_state,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expNo != null">
        #{expNo,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="subsid != null">
        #{subsid,jdbcType=VARCHAR},
      </if>
      <if test="elevation != null">
        #{elevation,jdbcType=DOUBLE},
      </if>
      <if test="sureH != null">
        #{sureH,jdbcType=DOUBLE},
      </if>
      <if test="botDepth != null">
        #{botDepth,jdbcType=DOUBLE},
      </if>
      <if test="covType != null">
        #{covType,jdbcType=VARCHAR},
      </if>
      <if test="covDn != null">
        #{covDn,jdbcType=VARCHAR},
      </if>
      <if test="covMeat != null">
        #{covMeat,jdbcType=VARCHAR},
      </if>
      <if test="wchaMeat != null">
        #{wchaMeat,jdbcType=VARCHAR},
      </if>
      <if test="wchaType != null">
        #{wchaType,jdbcType=VARCHAR},
      </if>
      <if test="foDeep != null">
        #{foDeep,jdbcType=DOUBLE},
      </if>
      <if test="wchaDn != null">
        #{wchaDn,jdbcType=VARCHAR},
      </if>
      <if test="bTime != null">
        #{bTime,jdbcType=VARCHAR},
      </if>
      <if test="offcNo != null">
        #{offcNo,jdbcType=VARCHAR},
      </if>
      <if test="rotation != null">
        #{rotation,jdbcType=DOUBLE},
      </if>
      <if test="x != null">
        #{x,jdbcType=NUMERIC},
      </if>
      <if test="y != null">
        #{y,jdbcType=NUMERIC},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="road != null">
        #{road,jdbcType=VARCHAR},
      </if>
      <if test="geom != null">
        ST_GeomFromText(#{geom}, 4326),
      </if>
      <if test="delState != null">
        #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        #{updState,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.hdsw.model.Gdmodel">
    update "wspoints"
    <set>
      <if test="expNo != null">
        exp_no = #{expNo,jdbcType=VARCHAR},
      </if>
      <if test="feature != null">
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="subsid != null">
        subsid = #{subsid,jdbcType=VARCHAR},
      </if>
      <if test="elevation != null">
        elevation = #{elevation,jdbcType=DOUBLE},
      </if>
      <if test="sureH != null">
        sure_h = #{sureH,jdbcType=DOUBLE},
      </if>
      <if test="botDepth != null">
        bot_depth = #{botDepth,jdbcType=DOUBLE},
      </if>
      <if test="covType != null">
        cov_type = #{covType,jdbcType=VARCHAR},
      </if>
      <if test="covDn != null">
        cov_dn = #{covDn,jdbcType=VARCHAR},
      </if>
      <if test="covMeat != null">
        cov_meat = #{covMeat,jdbcType=VARCHAR},
      </if>
      <if test="wchaMeat != null">
        wcha_meat = #{wchaMeat,jdbcType=VARCHAR},
      </if>
      <if test="wchaType != null">
        wcha_type = #{wchaType,jdbcType=VARCHAR},
      </if>
      <if test="foDeep != null">
        fo_deep = #{foDeep,jdbcType=DOUBLE},
      </if>
      <if test="wchaDn != null">
        wcha_dn = #{wchaDn,jdbcType=VARCHAR},
      </if>
      <if test="bTime != null">
        b_time = #{bTime,jdbcType=VARCHAR},
      </if>
      <if test="offcNo != null">
        offc_no = #{offcNo,jdbcType=VARCHAR},
      </if>
      <if test="rotation != null">
        rotation = #{rotation,jdbcType=DOUBLE},
      </if>
      <if test="x != null">
        x = #{x,jdbcType=NUMERIC},
      </if>
      <if test="y != null">
        y = #{y,jdbcType=NUMERIC},
      </if>
      <if test="owner != null">
        "owner" = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="road != null">
        road = #{road,jdbcType=VARCHAR},
      </if>
      <if test="geom != null">
        geom = ST_GeomFromText(#{geom}, 4326),
      </if>
      <if test="delState != null">
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        upd_state = #{updState,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where exp_no = #{expNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.hdsw.model.Gdmodel">
    update "wspoints"
    set exp_no = #{expNo,jdbcType=VARCHAR},
    feature = #{feature,jdbcType=VARCHAR},
    subsid = #{subsid,jdbcType=VARCHAR},
    elevation = #{elevation,jdbcType=DOUBLE},
    sure_h = #{sureH,jdbcType=DOUBLE},
    bot_depth = #{botDepth,jdbcType=DOUBLE},
    cov_type = #{covType,jdbcType=VARCHAR},
    cov_dn = #{covDn,jdbcType=VARCHAR},
    cov_meat = #{covMeat,jdbcType=VARCHAR},
    wcha_meat = #{wchaMeat,jdbcType=VARCHAR},
    wcha_type = #{wchaType,jdbcType=VARCHAR},
    fo_deep = #{foDeep,jdbcType=DOUBLE},
    wcha_dn = #{wchaDn,jdbcType=VARCHAR},
    b_time = #{bTime,jdbcType=VARCHAR},
    offc_no = #{offcNo,jdbcType=VARCHAR},
    rotation = #{rotation,jdbcType=DOUBLE},
    x = #{x,jdbcType=NUMERIC},
    y = #{y,jdbcType=NUMERIC},
    "owner" = #{owner,jdbcType=VARCHAR},
    road = #{road,jdbcType=VARCHAR},
    geom =ST_GeomFromText(#{geom}, 4326),
    del_state = #{delState,jdbcType=VARCHAR},
    upd_state = #{updState,jdbcType=VARCHAR},
    type = #{type,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <!-- 批量删除 -->
  <delete id="batchDelete" parameterType="int">
    delete from wspoints where gid in
    <foreach item="gid" collection="ids" open="(" separator="," close=")">
      #{gid}
    </foreach>
  </delete>
  <!-- 修改删除或者更新状态 -->
  <update id="updateState">
    update "wspoints"
    <set>
      <if test="delState != null">
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
      <if test="updState != null">
        upd_state = #{updState,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <select id="getMaxNum" resultType="int">
    select max(cast(substring(wspoints.exp_no,4) as integer)) from wspoints
  </select>
  <select id="selectByState"  resultMap="BaseResultMap">
    select
    gid, exp_no, feature, subsid, elevation, sure_h, bot_depth, cov_type, cov_dn, cov_meat,
    wcha_meat, wcha_type, fo_deep, wcha_dn, b_time, offc_no, rotation, x, y, "owner",
    road, st_asgeojson(geom) geom, del_state, upd_state,type
    from "wspoints"
    <where>
      <if test="delState != null and delState != '' "> AND del_state  =#{delState} </if>
      <if test="updState != null and updState != '' "> AND upd_state  =#{updState} </if>
    </where>
  </select>
  <update id="batchUpdateState" parameterType="int">
    update wspoints
    <set>
      <if test="updState != null">
        upd_state = #{updState,jdbcType=VARCHAR},
      </if>
    </set>
  </update>
</mapper>