#mapDiv {
    position: absolute;
    top: 0;
    /*left: 80px;*/
    width: 100%;
    height: 100%;
    background: none;
}

.baseInfo {
    position: absolute;
    right: 20px;
    top: 0px;
    padding-top: 20px;
    width: 50px;
    z-index: 2;
    font-size: 15px;
    color: deepskyblue;
}

.icon-bar {
    position: absolute;
    /*left: 20px;*/
    top: 20px;
    padding-top: 20px;
    z-index: 2;
}

.layui-icon-map {
    cursor: pointer;
    font-size: 30px;
    color: #FFD700;
}

.layerControlTitle {
    width: 185.1px;
    height: 32px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 800;
    line-height: 32px;
    font-family: MicrosoftYaHei;
    color: #ffffff;
    border-bottom: 1px solid #ffd700;
}

.layerTreeDiv {
    opacity: 0.7;
    position: absolute;
    width: 220px;
    /* height: 390px; */
    /*left: 3%;*/
    /*right: -100px;*/
    top: 90px;
    /* background: rgba(20, 24, 20, .7); */
    background-color: #555555;
    /* background-image: url(tucengbeijing.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    overflow-y: auto;
    border: 1px solid #ffd700;
    z-index: 1;
    transition-property: all;
    transition-duration: 300ms;
}

.layerTreeNode {
    position: absolute;
}

.featureInfo {
    opacity: 0;
    position: absolute;
    width: 320px;
    /*height: 450px;*/
    background: rgba(7, 21, 30, 0.9);
    font-weight: bold;
    right: 220px;
    top: 64px;
    font-size: 16px;
    color: #03FFEA;
    font-family: 'Verdana, Arial, Helvetica, AppleGothic, sans-serif';
    border-style: solid;
    border-color: lightskyblue;
    z-index: -99;
    border-bottom: 1px solid #03FFEA;
    margin-left: 10px;
    box-shadow: 2px 2px 9px 1px #03FFEA;
}

.featureInfo .title {
    font-size: 12px;
    margin-left: 10px;
    color: #03FFEA;
    font-family: 'Verdana, Arial, Helvetica, AppleGothic, sans-serif';
}

.featureInfo .feature {
    font-size: 12px;
    color: #fbfbfb;
    font-family: 'Verdana, Arial, Helvetica, AppleGothic, sans-serif';
}

.ztree li span {
    color: #ffffff;
}

.ztree li a span.button {
    background-size: 16px 16px !important;
}

.ztree li span.button.ico_close {
    display: none
}

.ztree li span.button.ico_open {
    display: none
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

.layui-table {
    width: 300px;
    background-color: rgba(220, 38, 38, 0.0);
    color: #03FFEA;
    margin: 10px;
    text-align: center;
}

.layui-table tbody tr:hover {
    background-color: rgba(220, 38, 38, 0.0);
}

.layui-table td {
    font-size: 12px;
    line-height: 13px;
    border-color: #03FFEA;
}