<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <title>地图</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script th:src="@{/openlayersv6.5/build/ol.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bd09.js}"></script>
    <script th:src="@{/js/baiduMercator.js}"></script>
    <script th:src="@{/js/olMapConfig.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script th:src="@{/js/coordinateTransform.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.core.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.exhide.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/zTree/zTreeStyle.css}" rel="stylesheet"/>
    <link th:href="@{/layuiv2.5.6/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/openlayersv6.5/css/ol.css}" rel="stylesheet"/>
    <link th:href="@{/css/map.css}" rel="stylesheet"/>
    <style>
        .ztree li a span.button {
            background-size: 16px 16px !important;
        }

        .layui-ihh {
            background: rgba(7, 21, 30, 0.9);
            /*box-shadow: 2px 2px 9px 1px #03FFEA;*/
            border-radius: 5px;
            border: 1px solid #03FFEA;
        }

        .cd {
            font-size: 14px !important;
            font-family: MicrosoftYaHei;
            color: #03FFEA !important;
        }
        .content-tab{
            position: absolute;
            z-index: 9999;
            left: 1%;
            top: 1%;
        }
        .tabNav{
            width: 500px;
            list-style: none;
            display: flex;
            justify-content:space-between;
            padding-inline-start: 0px!important;
        }
        .tabNav li{
            width: 90px;
            text-align: center;
            height: 40px;
            line-height: 36px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background: #fff;
            cursor: pointer;
        }
        .active_nav{
            background: #4A98F7!important;
            color: #fff;
        }
        .sty{
            width: 500px;
            height: auto;
            min-height: 150px;
            border-radius: 10px;
            border: 2px solid #ccc;
            padding: 10px;
            background: #fff;
            margin: 10px 0 0 0;
        }
        .sear_sty{
            width: 100%;
            text-align: center;
        }
        .form-control{
            width: 120px!important;
            display: inline-block;
        }
        select{
            width: 126px!important;
        }
        .form-group{
            width: 100%;
            display: flex;
            justify-content:space-around;
            margin: 10px 0 10px 0;
        }
        h4{
            margin-block-start: 0!important;
            margin-block-end: 0!important;
        }
        .layui-form-label{
            width: 100px;
            display: inline-block;
            text-align: right;
        }
        .layui-form select {
             display: block!important;
        }
    </style>
</head>
<body>
<div id="mapDiv" class="">
    <div class="baseInfo" id="mapBaseInfo"></div>
    <div class="icon-bar">
        <div class="layui-icon layui-icon-template-1 layui-icon-map" id="mapLayers"></div>
    </div>
    <div id="featureInfo" class="featureInfo layui-ihh" style="overflow:auto;border-radius:10px;"></div>

    <div class="content-tab">
      <ul class="tabNav">
          <li class="active_nav">参照加点</li>
          <li>解析加点</li>
          <li>解析加线</li>
          <li>插入点</li>
          <li>连接点</li>
      </ul>
       <div class="nav_content">
           <div class="sty" id="czjd">
               <p class="sear_sty"><input type="text" id="search_content" name="" placeholder="输入名称搜索参照物" autocomplete="off" class="form-control"></p>
               <form class="layui-form" action="">
                   <h4>参照物1:</h4>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">横坐标</label>
                           <input type="text" name="title" id="x1" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">纵坐标</label>
                           <input type="text" name="title" id="y1" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">距离</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">角度</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <h4>管点属性:</h4>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">类别</label>
                           <select name="city" class="form-control" lay-verify="required">
                               <option value=""></option>
                               <option value="0">北京</option>
                               <option value="1">上海</option>
                               <option value="2">广州</option>
                               <option value="3">深圳</option>
                               <option value="4">杭州</option>
                           </select>
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">排水户名称</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">污水去向</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">排水户类型</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">行政区属</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">排水户地址</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="layui-input-inline">
                           <label class="layui-form-label">联系电话</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                       <div class="layui-input-inline">
                           <label class="layui-form-label">单位负责人</label>
                           <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group" style="text-align: center">
                       <button type="button" class="btn btn-primary">确定</button>
                       <button type="button" class="btn btn-primary">取消</button>
                   </div>
               </form>
           </div>

           <div class="sty" style="display: none" id="jxjd">
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1" checked>
                   <label class="form-check-label" for="exampleRadios1">
                       解析法
                   </label>
                   <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2" >
                   <label class="form-check-label" for="exampleRadios2">
                       页面输入法
                   </label>
               </div>


               <div id="jxf">
                   <div class="form-group">
                       <input class="btn btn-primary" type="file">
                   </div>
                   <div class="form-group">
                   <div class="">
                       <label class="layui-form-label">数据文件</label>
                       <input type="text" name="title" required  style="width: 200px" lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                   </div>
                   </div>
                   <div class="form-group" style="text-align: center">
                       <button class="btn btn-primary" type="submit" value="Submit">确定</button>
                       <button class="btn btn-primary" type="reset" value="Reset">取消</button>
                   </div>
               </div>

               <div id="ymsrf" style="display: none">
                   <form class="layui-form" action="">
                       <h4>管点坐标:</h4>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">横坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">纵坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <h4>管点属性:</h4>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">类别</label>
                               <select name="city" class="form-control" lay-verify="required">
                                   <option value=""></option>
                                   <option value="0">北京</option>
                                   <option value="1">上海</option>
                                   <option value="2">广州</option>
                                   <option value="3">深圳</option>
                                   <option value="4">杭州</option>
                               </select>
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户名称</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">污水去向</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户类型</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">行政区属</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户地址</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">联系电话</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">单位负责人</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group" style="text-align: center">
                           <button type="button" class="btn btn-primary">确定</button>
                           <button type="button" class="btn btn-primary">取消</button>
                       </div>
                   </form>
               </div>
           </div>

           <div class="sty" id="jxjx" style="display: none">
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="jxjx"  value="1" checked>
                   <label class="form-check-label" for="exampleRadios1">
                       解析法
                   </label>
                   <input class="form-check-input" type="radio" name="jxjx"  value="2" >
                   <label class="form-check-label" for="exampleRadios2">
                       页面输入法
                   </label>
               </div>


               <div id="jxf_">
                   <div class="form-group">
                       <input class="btn btn-primary" type="file">
                   </div>
                   <div class="form-group">
                       <div class="">
                           <label class="layui-form-label">数据文件</label>
                           <input type="text" name="title" required  style="width: 200px" lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                       </div>
                   </div>
                   <div class="form-group" style="text-align: center">
                       <button class="btn btn-primary" type="submit" value="Submit">确定</button>
                       <button class="btn btn-primary" type="reset" value="Reset">取消</button>
                   </div>
               </div>

               <div id="ymsrf_" style="display: none">
                   <form class="layui-form" action="">
                       <h4>起点坐标:</h4>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">编号</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">横坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">纵坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <h4>终点坐标:</h4>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">编号</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">横坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">纵坐标</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <h4>管线属性:</h4>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">类别</label>
                               <select name="city" class="form-control" lay-verify="required">
                                   <option value=""></option>
                                   <option value="0">北京</option>
                                   <option value="1">上海</option>
                                   <option value="2">广州</option>
                                   <option value="3">深圳</option>
                                   <option value="4">杭州</option>
                               </select>
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户名称</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">污水去向</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户类型</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">行政区属</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">排水户地址</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="layui-input-inline">
                               <label class="layui-form-label">联系电话</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                           <div class="layui-input-inline">
                               <label class="layui-form-label">单位负责人</label>
                               <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                           </div>
                       </div>
                       <div class="form-group" style="text-align: center">
                           <button type="button" class="btn btn-primary">确定</button>
                           <button type="button" class="btn btn-primary">取消</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
    </div>

<!--    <div class="layerTreeDiv">-->
<!--        <div class="layerControlTitle">图层控制</div>-->
<!--        &lt;!&ndash;<div><span>图层控制</span></div>&ndash;&gt;-->
<!--        <ul id="treeDemo" class=" ztree"></ul>-->
<!--    </div>-->
</div>

</body>
</html>
<script>
    $('.tabNav li').click(function(){
        var ee = getLonAndLat($("#x1").val(),$("#y1").val(),180,1000);
        $(this).addClass('active_nav').siblings().removeClass('active_nav');
        if($(this).index() == 0){
            $('#czjd').show().siblings().hide();
        }else if($(this).index() == 1){
            $('#jxjd').show().siblings().hide();
        }else if($(this).index() == 2){
            $('#jxjx').show().siblings().hide();
        }
    })

    //解析加点单选事件
    $('input[name="exampleRadios"]').click(function(){
        if($(this).val() == 1){
            $('#jxf').show();
            $('#ymsrf').hide();
        }else{
            $('#ymsrf').show();
            $('#jxf').hide();
        }
    })

    //解析加线单选事件
    $('input[name="jxjx"]').click(function(){
        if($(this).val() == 1){
            $('#jxf_').show();
            $('#ymsrf_').hide();
        }else{
            $('#ymsrf_').show();
            $('#jxf_').hide();
        }
    })

</script>
<script>
    $(() => {
        LoadMap.mapInit(null,{"pidType":"管线更新"});
    })
    $('#search_content').bind('keypress', function (event) {
        if(event.keyCode == "13"){
            $.ajax({
                //url中的参数含义参见百度地图官网webAPI文档
                url: 'http://api.map.baidu.com/place/v2/search?query='+$('#search_content').val()+'&region=北京市&page_size=40&page_num=0&output=json&ak=nSxiPohfziUaCuONe4ViUP2N',
                type: "GET",
                async: false,
                dataType: "jsonp",
                jsonp: "callback",
                jsonpCallback: "callback",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data)
                    if (data.status != 0) {
                        alert("搜索失败")
                    } else if (data.results.length == 0) {
                        alert("暂无搜索结果")
                    } else {
                        var lonlat = data.results[0].location.lng + "," + data.results[0].location.lat;
                        var array_LonLat = lonlat.split(",");
                        for (var i = 0; i < 2; i++) {
                            array_LonLat[i] = Number(array_LonLat[i]);
                        }
                        //搜索出来的经纬度定位到实际地图上有偏差，是因为我使用不是在线服务百度瓦片图，所以这里只能找出偏差度数先减一下
                        var new_lonlat = ol.proj.transform([array_LonLat[0]-0.012653,array_LonLat[1]-0.007422], 'EPSG:4326', 'BD:09')
                        var anchor = new ol.Feature({
                            geometry: new ol.geom.Point(new_lonlat)
                        });

/*                        var searchLayer = new ol.layer.Vector({
                            id: "search",
                            source:  new ol.source.Vector({
                                features: [anchor]
                            }),
                            style: olMapStyle.wsc_Style
                        });
                        LoadMap.map.addLayer(searchLayer)*/
                        LoadMap.map.getView().setCenter(new_lonlat);
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            })
        }
    })

    var mapNumberUtil = {
        rad: function rad(d) {
            return d * Math.PI / 180.0;
        },
        deg: function deg(d) {
            return d * 180/ Math.PI
        }
    };
    /**
     * 根据一个经纬度及距离角度，算出另外一个经纬度
     * @param {*} lon 经度 113.3960698
     * @param {*} lat 纬度 22.941386
     * @param {*} brng 方位角 45 ---- 正北方：000°或360° 正东方：090° 正南方：180° 正西方：270°
     * @param {*} dist 90000距离(米)
     */
    function getLonAndLat (lon, lat, brng, dist) {
        //大地坐标系资料WGS-84 极坐标长半径a=6378137 极坐标短半径b=6356752.3142 扁率f=1/298.2572236
        var a = 6378137;
        var b = 6356752.3142;
        var f = 1 / 298.257223563;
        var lon1 = lon * 1;
        var lat1 = lat * 1;
        var s = dist;
        var alpha1 = mapNumberUtil.rad(brng);
        var sinAlpha1 = Math.sin(alpha1);
        var cosAlpha1 = Math.cos(alpha1);
        var tanU1 = (1 - f) * Math.tan(mapNumberUtil.rad(lat1));
        var cosU1 = 1 / Math.sqrt((1 + tanU1 * tanU1)),
            sinU1 = tanU1 * cosU1;
        var sigma1 = Math.atan2(tanU1, cosAlpha1);
        var sinAlpha = cosU1 * sinAlpha1;
        var cosSqAlpha = 1 - sinAlpha * sinAlpha;
        var uSq = cosSqAlpha * (a * a - b * b) / (b * b);
        var A = 1 + uSq / 16384 * (4096 + uSq * ( - 768 + uSq * (320 - 175 * uSq)));
        var B = uSq / 1024 * (256 + uSq * ( - 128 + uSq * (74 - 47 * uSq)));
        var sigma = s / (b * A),
            sigmaP = 2 * Math.PI;
        while (Math.abs(sigma - sigmaP) > 1e-12) {
            var cos2SigmaM = Math.cos(2 * sigma1 + sigma);
            var sinSigma = Math.sin(sigma);
            var cosSigma = Math.cos(sigma);
            var deltaSigma = B * sinSigma * (cos2SigmaM + B / 4 * (cosSigma * ( - 1 + 2 * cos2SigmaM * cos2SigmaM) - B / 6 * cos2SigmaM * ( - 3 + 4 * sinSigma * sinSigma) * ( - 3 + 4 * cos2SigmaM * cos2SigmaM)));
            sigmaP = sigma;
            sigma = s / (b * A) + deltaSigma;
        }
        var tmp = sinU1 * sinSigma - cosU1 * cosSigma * cosAlpha1;
        var lat2 = Math.atan2(sinU1 * cosSigma + cosU1 * sinSigma * cosAlpha1, (1 - f) * Math.sqrt(sinAlpha * sinAlpha + tmp * tmp));
        var lambda = Math.atan2(sinSigma * sinAlpha1, cosU1 * cosSigma - sinU1 * sinSigma * cosAlpha1);
        var C = f / 16 * cosSqAlpha * (4 + f * (4 - 3 * cosSqAlpha));
        var L = lambda - (1 - C) * f * sinAlpha * (sigma + C * sinSigma * (cos2SigmaM + C * cosSigma * ( - 1 + 2 * cos2SigmaM * cos2SigmaM)));
        var revAz = Math.atan2(sinAlpha, -tmp); // final bearing
        var lonLatObj = {
            lon: lon1 + mapNumberUtil.deg(L),
            lat: mapNumberUtil.deg(lat2)
        }

        return lonLatObj;
    }
</script>
