<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <title>地图</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script th:src="@{/openlayersv6.5/build/ol.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bd09.js}"></script>
    <script th:src="@{/js/baiduMercator.js}"></script>
    <script th:src="@{/js/olMapConfig.js}"></script>
    <script th:src="@{/js/map.js}"></script>
    <script th:src="@{/js/coordinateTransform.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.core.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.exhide.js}"></script>
    <script th:src="@{/layuiv2.5.6/layui/layui.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="//unpkg.com/layui@2.6.13/dist/css/layui.css" rel="stylesheet"/>
    <link th:href="@{/zTree/zTreeStyle.css}" rel="stylesheet"/>
    <link th:href="@{static/layuiv2.5.6/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/openlayersv6.5/css/ol.css}" rel="stylesheet"/>
    <link th:href="@{/css/map.css}" rel="stylesheet"/>
    <style>
        .ztree li a span.button {
            background-size: 16px 16px !important;
        }

        .layui-ihh {
            background: rgba(7, 21, 30, 0.9);
            /*box-shadow: 2px 2px 9px 1px #03FFEA;*/
            border-radius: 5px;
            border: 1px solid #03FFEA;
        }

        .content-tab{
            position: absolute;
            z-index: 9999;
            left: 1%;
            top: 1%;
        }
        .tabNav{
            width: 350px;
            list-style: none;
            display: flex;
            justify-content:space-between;
            padding-inline-start: 0px!important;
        }
        .tabNav li{
            width: 110px;
            text-align: center;
            height: 40px;
            line-height: 36px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background: #fff;
            cursor: pointer;
        }
        .active_nav{
            background: #4A98F7!important;
            color: #fff;
        }
        .sty{
            width: 950px;
            max-height: 700px;
            min-height: 150px;
            border-radius: 10px;
            border: 2px solid #ccc;
            padding: 10px;
            background: #fff;
            margin: 10px 0 0 0;
            overflow: auto;
        }
        .sear_sty{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .sear_sty input{
            margin: 0 10px 0 10px;
        }
        .sear_sty select{
            margin: 0 10px 0 10px;
        }
        .sear_sty button{
            margin: 0 10px 0 10px;
        }
        .form-control{
            width: 150px!important;
            display: inline-block;
        }
        select{
            width: 150px!important;
        }
        .form-group{
            width: 100%;
            /*justify-content:space-around;*/
            margin: 10px 0 10px 0;
        }
        .form-btn{
            display: flex;
            justify-content: space-around;
        }
        h4{
            margin-block-start: 0!important;
            margin-block-end: 0!important;
            margin: 10px 0 0 0!important;
        }
        .layui-form-label{
            width: 130px;
            display: inline-block;
            text-align: right;
        }
        .layui-form select {
            display: block!important;
        }
        .icon-bar {
            right: 50px!important;
        }
        .layerTreeDiv {
            right: 3%!important;
        }
        .layui-input-inline{
            display: inline-block;
        }
        .company {
            position: relative;
        }
        .company .em {
            position: absolute;
            top: 19%;
            right: 2%;
            color: #bebbbb;
        }
        .company1 {
            position: relative;
        }
        .company1 .em {
            position: absolute;
            top: 19%;
            right: 2%;
            color: #bebbbb;
        }
        .company2 {
            position: relative;
        }
        .company2 .em {
            position: absolute;
            top: 19%;
            right: 2%;
            color: #bebbbb;
        }
    </style>
</head>
<body>
<div id="mapDiv" class="">
    <div class="baseInfo" id="mapBaseInfo"></div>
    <div class="icon-bar">
        <div class="layui-icon layui-icon-template-1 layui-icon-map"></div>
    </div>
    <div id="featureInfo" class="featureInfo layui-ihh" style="overflow:auto;border-radius:10px;"></div>

    <div class="content-tab">
        <ul class="tabNav">
            <li class="active_nav">管线删除</li>
            <li>管线废弃</li>
            <li>废弃管线恢复</li>
        </ul>
        <div class="nav_content">
            <div class="sty" id="gxsc">
<!--                管线删除-->
                <p class="sear_sty">
                    <select name="czjd_type"  class="form-control" lay-verify="required">
                        <option value="0">污水管线</option>
                        <option value="1">污水</option>
                        <option value="2">雨水</option>
                        <option value="3">再生水</option>>
                    </select>
                    <input type="text" id="search_content" name="" placeholder="输入名称搜索参照物" autocomplete="off" class="form-control">
                    <button class="btn btn-primary" id="search_btn" onclick="search()">查询</button>
                </p>
                <form class="layui-form" action="">
                        <div class="form-group"style="display: flex;align-items: center">
                            <span style="font-weight: bold">污水管线信息</span>
                            <button type="button" class="btn btn-primary" style="margin-left: 15px;height: 25px;padding: 0 10px"  onclick="getCoordinateFlag(this.id)">
                                地图上选定管线</button>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">管线编号</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">起点点号</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">终点点号</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">起点埋深</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">终点埋深</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">起点高程</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">终点高程</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">材质</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">埋设方式</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">线型</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline company">
                                <label class="layui-form-label">管径</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                                <em class="em">mm</em>
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">建设日期</label>
                                <input type="text" name="title" id="gxfq_date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">权属单位编号</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">流向</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">所在道路</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="layui-input-inline">
                                <label class="layui-form-label">状态</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">类别</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                            <div class="layui-input-inline">
                                <label class="layui-form-label">长度</label>
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            </div>
                        </div>

                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary" onclick="save1()">删除管线</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </form>
            </div>

            <div class="sty" style="display: none" id="gxfq">
<!--                管线废弃-->
                <p class="sear_sty">
                    <select name="czjd_type"  class="form-control" lay-verify="required">
                        <option value="0">污水管线</option>
                        <option value="1">污水</option>
                        <option value="2">雨水</option>
                        <option value="3">再生水</option>>
                    </select>
                    <input type="text"  name="" placeholder="输入名称搜索参照物" autocomplete="off" class="form-control">
                    <button class="btn btn-primary"  onclick="search()">查询</button>
                </p>
                <form class="layui-form" action="">
                    <div class="form-group" style="display: flex;align-items: center">
                        <span style="font-weight: bold">污水管线信息</span>
                        <button type="button" class="btn btn-primary" style="margin-left: 15px;height: 25px;padding: 0 10px"  onclick="getCoordinateFlag(this.id)">
                            地图上选定管线</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">埋设方式</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">线型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline company1">
                            <label class="layui-form-label">管径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            <em class="em">mm</em>
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" id="gxsc_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">流向</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">状态</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">类别</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">长度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>

                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary" onclick="save1()">废弃管线</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </form>
            </div>

            <div class="sty" id="fqgxhf" style="display: none">
<!--                废弃管线恢复-->
                <p class="sear_sty">
                    <select name="czjd_type"  class="form-control" lay-verify="required">
                        <option value="0">污水管线</option>
                        <option value="1">污水</option>
                        <option value="2">雨水</option>
                        <option value="3">再生水</option>>
                    </select>
                    <input type="text"  name="" placeholder="输入名称搜索参照物" autocomplete="off" class="form-control">
                    <button class="btn btn-primary"  onclick="search()">查询</button>
                </p>
                <form class="layui-form" action="">
                    <div class="form-group"style="display: flex;align-items: center">
                        <span style="font-weight: bold">污水管线信息</span>
                        <button type="button" class="btn btn-primary" style="margin-left: 15px;height: 25px;padding: 0 10px"  onclick="getCoordinateFlag(this.id)">
                            地图上选定管线</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">埋设方式</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">线型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline company2">
                            <label class="layui-form-label">管径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                            <em class="em">mm</em>
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" id="fqgxhf_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">流向</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">状态</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">类别</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">长度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>



                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary" onclick="save1()">恢复管线</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </form>
            </div>



        </div>
    </div>

    <div class="layerTreeDiv">
        <div class="layerControlTitle">图层控制</div>
        <!--<div><span>图层控制</span></div>-->
        <ul id="treeDemo" class=" ztree"></ul>
    </div>
</div>

</body>
</html>
<script>

    //图层收缩事件
    $('.icon-bar').click(function(){
        $('.layerTreeDiv').toggle();
    })


    $('.tabNav li').click(function(){
        $(this).addClass('active_nav').siblings().removeClass('active_nav');
        if($(this).index() == 0){
            $('#gxsc').toggle();
            $('#gxsc').siblings().hide();
        }else if($(this).index() == 1){
            $('#gxfq').toggle();
            $('#gxfq').siblings().hide();
        }else if($(this).index() == 2){
            $('#fqgxhf').toggle();
            $('#fqgxhf').siblings().hide();
        }
    })




    //管线删除——建设日期
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#gxsc_date'
            , type: 'date'
        });
    });

    //管线废弃——建设日期
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#gxfq_date'
            , type: 'date'
        });
    });

    //废弃管线恢复——建设日期
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#fqgxhf_date'
            , type: 'date'
        });
    });

</script>
<script>
    $(() => {
        LoadMap.mapInit(null,{"pidType":"管线更新"});
    })
    $('#search_content').bind('keypress', function (event) {
        if(event.keyCode == "13"){
            search();
        }
    })




</script>

<!--<script>-->
<!--$('.tabNavbutton').click(function () {-->
<!--    search()-->
<!--})-->
<!--&lt;!&ndash;    管线数据废弃数据请求&ndash;&gt;-->
<!--    // search()-->
<!--    function search() {-->
<!--        $.ajax({-->
<!--            //url中的参数含义参见百度地图官网webAPI文档-->
<!--            url: 'http://localhost:8085/hdsw/gxtype/delete',-->
<!--            type: "GET",-->
<!--            async: false,-->
<!--            dataType: "jsonp",-->
<!--            jsonp: "callback",-->
<!--            jsonpCallback: "callback",-->
<!--            contentType: "application/json;charset=utf-8",-->
<!--            success: function (data) {-->
<!--                console.log('成功成功成功')-->
<!--                console.log(data)-->
<!--            },-->
<!--            error: function (data) {-->
<!--                console.log('失败')-->
<!--                console.log(data)-->
<!--            }-->
<!--        })-->
<!--    }-->
<!--</script>-->
