<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8">
    <title>地图</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="openlayersv6.5/build/ol.js"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bd09.js" charset="utf-8"></script>
    <script src="js/baiduMercator.js"></script>
    <script src="js/olMapConfig.js"></script>
    <script src="js/map.js"></script>

    <script th:src="@{/zTree/jquery.ztree.core.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.exhide.js}"></script>
    <link href="zTree/zTreeStyle.css" rel="stylesheet"/>
    <link href="layuiv2.5.6/layui/css/layui.css" rel="stylesheet">
    <link href="openlayersv6.5/css/ol.css" rel="stylesheet"/>
    <link href="css/map.css" rel="stylesheet"/>
    <style>
        .ztree li a span.button {
            background-size: 16px 16px !important;
        }

        .layui-ihh {
            background: rgba(7, 21, 30, 0.9);
            /*box-shadow: 2px 2px 9px 1px #03FFEA;*/
            border-radius: 5px;
            border: 1px solid #03FFEA;
        }

        .cd {
            font-size: 14px !important;
            font-family: MicrosoftYaHei;
            color: #03FFEA !important;
        }
    </style>
</head>
<body>
<div id="mapDiv" class="aside-left">
    <div class="baseInfo" id="mapBaseInfo"></div>
    <div class="icon-bar">
        <div class="layui-icon layui-icon-template-1 layui-icon-map" id="mapLayers"></div>
    </div>
    <div id="featureInfo" class="featureInfo layui-ihh" style="overflow:auto;border-radius:10px;"></div>
<!--    <div class="layerTreeDiv">-->
<!--        <div class="layerControlTitle">图层控制</div>-->
<!--        &lt;!&ndash;<div><span>图层控制</span></div>&ndash;&gt;-->
<!--        <ul id="treeDemo" class=" ztree"></ul>-->
<!--    </div>-->
</div>

</body>
</html>
