<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管线数据修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script th:src="@{/openlayersv6.5/build/ol.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bd09.js}"></script>
    <script th:src="@{/js/baiduMercator.js}"></script>
    <script th:src="@{/js/olMapConfig.js}"></script>
    <script th:src="@{/js/map.js}"></script>
<!--    <script th:src="@{/js/coordinateTransform.js}"></script>-->
    <script th:src="@{/zTree/jquery.ztree.core.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/zTree/jquery.ztree.exhide.js}"></script>
    <script th:src="@{static/layuiv2.5.6/layui/layui.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/zTree/zTreeStyle.css}" rel="stylesheet"/>
    <link href="//unpkg.com/layui@2.6.13/dist/css/layui.css" rel="stylesheet"/>
    <link th:href="@{/openlayersv6.5/css/ol.css}" rel="stylesheet"/>
    <link th:href="@{/css/map.css}" rel="stylesheet"/>
    <style>
        .ztree li a span.button {
            background-size: 16px 16px !important;
        }

        .layui-ihh {
            background: rgba(7, 21, 30, 0.9);
            /*box-shadow: 2px 2px 9px 1px #03FFEA;*/
            border-radius: 5px;
            border: 1px solid #03FFEA;
        }

        .cd {
            font-size: 14px !important;
            font-family: MicrosoftYaHei;
            color: #03FFEA !important;
        }
        .content-tab{
            position: absolute;
            z-index: 9999;
            left: 1%;
            top: 1%;
        }
        .tabNav{
            padding: 0 200px 0 200px;
            width: 600px;
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding-inline-start: 0px!important;
        }
        .tabNav li{
            width: 110px;
            text-align: center;
            height: 40px;
            line-height: 36px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background: #fff;
            cursor: pointer;
        }
        .active_nav{
            background: #4A98F7!important;
            color: #fff;
        }
        .sty{
            width: 950px;
            max-height: 600px;
            min-height: 150px;
            border-radius: 10px;
            border: 2px solid #ccc;
            padding: 10px;
            background: #fff;
            margin: 10px 0 0 0;
            overflow: auto;
        }
        .sear_sty{
            width: 100%;
            text-align: center;
        }
        .form-control{
            width: 150px!important;
            display: inline-block;
        }
        select{
            width: 150px!important;
        }
        .form-group{
            width: 100%;
            /*justify-content:space-around;*/
            margin: 10px 0 10px 0;
        }
        .form-btn{
            display: flex;
            justify-content: space-around;
        }
        h4{
            margin-block-start: 0!important;
            margin-block-end: 0!important;
            margin: 10px 0 0 0!important;
        }
        .layui-form-label{
            width: 130px;
            display: inline-block;
            text-align: right;
        }
        .layui-form select {
            display: block!important;
        }
        .icon-bar {
            right: 50px!important;
        }
        .layerTreeDiv {
            right: 3%!important;
        }
        .btn-mini{
            line-height: 25px;
            padding: 0!important;
        }
        .hzzb{
            display: none;
        }
        .formTab {
            display: flex;
            justify-content: center;
        }
        .formTab input {
            margin-left: 20px;
        }
        .formTab .form-control {
            width: 80%;
        }
        .ysdmessage {
            display: flex;
            justify-items: left;
            justify-content: left;
            margin-top: 15px;
        }
        .ysdmessage_point {
            font-weight: bold;
            margin-left: 20px;

        }
        .ysdmessage button {
            width: 10%;
            text-align: center;
            margin-left: 15px;
        }
        .Abscissa {
        /*    横坐标*/
            background: #f0f0f0;
        }
        .Ordinate {
        /*    纵坐标*/
            background: #f0f0f0;
        }
        .ywlb {
            display: flex;
            justify-content: left;
        }
        /*管水管线下拉框效果*/
        .dropDownChangePage {
            display: flex;
            justify-content: center;
        }
        .dropDownChangePage1 {
            display: flex;
            justify-content: center;
        }
        #gdgxChangePage {
            width: 155px;
            height: 34px;
        }
        #gdgxChangePage {
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        #gdgxChangePage option {
            color: #555;
        }
        #gdgxChangePage1 {
            width: 155px;
            height: 34px;
        }
        #gdgxChangePage1 {
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        #gdgxChangePage1 option {
            color: #555;
        }
        #jxjd .form-control {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div id="mapDiv" class="">
    <div class="baseInfo" id="mapBaseInfo"></div>
    <div class="icon-bar">
        <div class="layui-icon layui-icon-template-1 layui-icon-map" id="mapLayers"></div>
    </div>
    <div id="featureInfo" class="featureInfo layui-ihh" style="overflow:auto;border-radius:10px;"></div>

    <div class="content-tab">
        <ul class="tabNav">
            <li class="active_nav">移动点</li>
            <li>修改属性</li>
            <li>修改参数</li>
        </ul>
        <div class="nav_content">
            <div class="sty" id="czjd">
<!--                移动点信息-->
                <div class="formTab">
                    <select name="city" class="form-control" lay-verify="required">
                        <option value=""></option>
                        <option value="0">污水</option>
                        <option value="1">再生水</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                    <input type="text" name="title" required  lay-verify="required" placeholder="输入名称确定原始管点大致位置" autocomplete="off" class="form-control">
                </div>
                <form class="layui-form" action="">
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">原始点信息</span>
                        <button type="button" class="btn btn-primary" style="height: 20px;padding: 0!important">获取坐标</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管点编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">业务类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">横坐标</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control Abscissa" disabled>
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">纵坐标</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control Ordinate" disabled>
                        </div>
                    </div>
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">目标点信息</span>
                        <button type="button" class="btn btn-primary" style="height: 20px;padding: 0!important">获取坐标</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">横坐标</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control Abscissa" disabled>
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">纵坐标</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control Ordinate" disabled>
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </form>
            </div>
            <div class="sty" style="display: none" id="jxjd">
<!--                修改属性信息-->
                <div class="dropDownChangePage">
                    <select name="" id="gdgxChangePage">
                        <option value="1">给水管点</option>
                        <option value="2">给水管线</option>
                        <option value="3">污水管点</option>
                        <option value="4">污水管线</option>
                        <option value="5">雨水管点</option>
                        <option value="6">雨水管线</option>
                        <option value="7">再生水管点</option>
                        <option value="8">再生水管线</option>
                    </select>
                    <input type="text" name="title" required  lay-verify="required" placeholder="输入名称确定原始管点大致位置" autocomplete="off" class="form-control">
                </div>
                <div id="jxf">
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">管点属性</span>
                        <button type="button" class="btn btn-primary" style="width: 110px;height: 20px;padding: 0!important">地图上选定管点</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管点编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">地面高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖特征</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">附属物</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井底埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖规格</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井脖深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室直径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">偏心井点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">旋转角度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">横坐标</label>
                            <input type="text" name="title" style='background: #f0f0f0' disabled required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">纵坐标</label>
                            <input type="text" style='background: #f0f0f0' disabled name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">标高</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </div>
                <div id="ymsrf" style="display: none">
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">管线参数属性</span>
                        <button type="button" class="btn btn-primary" style="width: 110px;height: 20px;padding: 0!important">地图上选定管线</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">埋设方式</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">线型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">流向</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">状态</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">类别</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">长度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </div>
            </div>

            <div class="sty" style="display: none" id="modifyParameters">
                <!--                修改属性信息-->
                <div class="dropDownChangePage1">
                    <select name="" id="gdgxChangePage1">
                        <option value="1">给水1管点</option>
                        <option value="2">给水1管线</option>
                        <option value="3">污水1管点</option>
                        <option value="4">污水1管线</option>
                        <option value="5">雨水管点</option>
                        <option value="6">雨水管线</option>
                        <option value="7">再生水管点</option>
                        <option value="8">再生水管线</option>
                    </select>
                    <input type="text" name="title" required  lay-verify="required" placeholder="输入名称确定原始管点大致位置" autocomplete="off" class="form-control">
                </div>
                <div id="line">
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">管点属性</span>
                        <button type="button" class="btn btn-primary" style="width: 110px;height: 20px;padding: 0!important">地图上选定管点</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管点编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">地面高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖特征</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">附属物</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井底埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖规格</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井盖材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室类型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井脖深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">井室直径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">偏心井点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">旋转角度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">横坐标</label>
                            <input type="text" name="title" style='background: #f0f0f0' disabled required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">纵坐标</label>
                            <input type="text" style='background: #f0f0f0' disabled name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">标高</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </div>
                <div id="point" style="display: none">
                    <div class="ysdmessage">
                        <span class="ysdmessage_point">管线参数属性</span>
                        <button type="button" class="btn btn-primary" style="width: 110px;height: 20px;padding: 0!important">地图上选定管线</button>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点点号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点埋深</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">起点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">终点高程</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管线材质</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">埋设方式</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">线型</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">管径</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">建设日期</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">权属单位编号</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">流向</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">所在道路</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="layui-input-inline">
                            <label class="layui-form-label">状态</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">类别</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">长度</label>
                            <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-btn">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-primary">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layerTreeDiv">
        <div class="layerControlTitle">图层控制</div>
        <!--<div><span>图层控制</span></div>-->
        <ul id="treeDemo" class=" ztree"></ul>
    </div>
</div>
</body>

<script>

    //给水管点和管线页面切换
    $('#gdgxChangePage').change(function () {
        if($(this).val() == 1) {
            $('#jxf').show();
            $('#ymsrf').hide();
        } else if($(this).val() == 2) {
            $('#ymsrf').show();
            $('#jxf').hide();
        } else if($(this).val() == 3) {
            $('#jxf').show();
            $('#ymsrf').hide();
        } else if($(this).val() == 4) {
            $('#ymsrf').show();
            $('#jxf').hide();
        } else if($(this).val() == 5) {
            $('#jxf').show();
            $('#ymsrf').hide();
        } else if($(this).val() == 6) {
            $('#ymsrf').show();
            $('#jxf').hide();
        } else if($(this).val() == 7) {
            $('#jxf').show();
            $('#ymsrf').hide();
        } else if($(this).val() == 8) {
            $('#ymsrf').show();
            $('#jxf').hide();
        }
    })

    //
    //给水管点和管线页面切换
    $('#gdgxChangePage1').change(function () {
        if($(this).val() == 1) {
            $('#line').show();
            $('#point').hide();
        } else if($(this).val() == 2) {
            $('#point').show();
            $('#line').hide();
        } else if($(this).val() == 3) {
            $('#line').show();
            $('#point').hide();
        } else if($(this).val() == 4) {
            $('#point').show();
            $('#line').hide();
        } else if($(this).val() == 5) {
            $('#line').show();
            $('#point').hide();
        } else if($(this).val() == 6) {
            $('#point').show();
            $('#line').hide();
        } else if($(this).val() == 7) {
            $('#line').show();
            $('#point').hide();
        } else if($(this).val() == 8) {
            $('#point').show();
            $('#line').hide();
        }
    })
    //图层收缩事件
    $('.icon-bar').click(function(){
        $('.layerTreeDiv').toggle();
    })
    //解析加线点击事件
    $('.qdzb').click(function (){
        $('#qdzb').toggle();
    })
    $('.zdzb').click(function (){
        $('#zdzb').toggle();
    })
    $('.tabNav li').click(function(){
        var ee = getLonAndLat($("#x1").val(),$("#y1").val(),180,1000);
        $(this).addClass('active_nav').siblings().removeClass('active_nav');
        if($(this).index() == 0){
            $('#czjd').toggle();
            $('#czjd').siblings().hide();
        }else if($(this).index() == 1){
            $('#jxjd').toggle();
            $('#jxjd').siblings().hide();
        }else if($(this).index() == 2){
            $('#jxjx').toggle();
            $('#jxjx').siblings().hide();
        }else if($(this).index() == 3){
            $('#crd').toggle();
            $('#crd').siblings().hide();
        }else if($(this).index() == 4){
            $('#ljd').toggle();
            $('#ljd').siblings().hide();
        }
    })


    // //解析加点单选事件
    // $('input[name="exampleRadios"]').click(function(){
    //     if($(this).val() == 1){
    //         $('#jxf').show();
    //         $('#ymsrf').hide();
    //     }else{
    //         $('#ymsrf').show();
    //         $('#jxf').hide();
    //     }
    // })
    //
    // //解析加线单选事件
    // $('input[name="jxjx"]').click(function(){
    //     if($(this).val() == 1){
    //         $('#jxf_').show();
    //         $('#ymsrf_').hide();
    //     }else{
    //         $('#ymsrf_').show();
    //         $('#jxf_').hide();
    //     }
    // })

</script>
<script>
    $(() => {
        LoadMap.mapInit(null,{"pidType":"管线更新"});
    })
    $('#search_content').bind('keypress', function (event) {
        if(event.keyCode == "13"){
            search();
        }
    })

    function search() {
        $.ajax({
            //url中的参数含义参见百度地图官网webAPI文档
            url: 'http://api.map.baidu.com/place/v2/search?query='+$('#search_content').val()+'&region=北京市&page_size=40&page_num=0&output=json&ak=nSxiPohfziUaCuONe4ViUP2N',
            type: "GET",
            async: false,
            dataType: "jsonp",
            jsonp: "callback",
            jsonpCallback: "callback",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data)
                if (data.status != 0) {
                    alert("搜索失败")
                } else if (data.results.length == 0) {
                    alert("暂无搜索结果")
                } else {
                    var lonlat = data.results[0].location.lng + "," + data.results[0].location.lat;
                    var array_LonLat = lonlat.split(",");
                    for (var i = 0; i < 2; i++) {
                        array_LonLat[i] = Number(array_LonLat[i]);
                    }
                    //搜索出来的经纬度定位到实际地图上有偏差，是因为我使用不是在线服务百度瓦片图，所以这里只能找出偏差度数先减一下
                    var new_lonlat = ol.proj.transform([array_LonLat[0]-0.012653,array_LonLat[1]-0.007422], 'EPSG:4326', 'BD:09')
                    var anchor = new ol.Feature({
                        geometry: new ol.geom.Point(new_lonlat)
                    });

                    /*                        var searchLayer = new ol.layer.Vector({
                                                id: "search",
                                                source:  new ol.source.Vector({
                                                    features: [anchor]
                                                }),
                                                style: olMapStyle.wsc_Style
                                            });
                                            LoadMap.map.addLayer(searchLayer)*/
                    LoadMap.map.getView().setCenter(new_lonlat);
                }
            },
            error: function (data) {
                console.log(data)
            }
        })
    }

    var mapNumberUtil = {
        rad: function rad(d) {
            return d * Math.PI / 180.0;
        },
        deg: function deg(d) {
            return d * 180/ Math.PI
        }
    };
    /**
     * 根据一个经纬度及距离角度，算出另外一个经纬度
     * @param {*} lon 经度 113.3960698
     * @param {*} lat 纬度 22.941386
     * @param {*} brng 方位角 45 ---- 正北方：000°或360° 正东方：090° 正南方：180° 正西方：270°
     * @param {*} dist 90000距离(米)
     */
    function getLonAndLat (lon, lat, brng, dist) {
        //大地坐标系资料WGS-84 极坐标长半径a=6378137 极坐标短半径b=6356752.3142 扁率f=1/298.2572236
        var a = 6378137;
        var b = 6356752.3142;
        var f = 1 / 298.257223563;
        var lon1 = lon * 1;
        var lat1 = lat * 1;
        var s = dist;
        var alpha1 = mapNumberUtil.rad(brng);
        var sinAlpha1 = Math.sin(alpha1);
        var cosAlpha1 = Math.cos(alpha1);
        var tanU1 = (1 - f) * Math.tan(mapNumberUtil.rad(lat1));
        var cosU1 = 1 / Math.sqrt((1 + tanU1 * tanU1)),
            sinU1 = tanU1 * cosU1;
        var sigma1 = Math.atan2(tanU1, cosAlpha1);
        var sinAlpha = cosU1 * sinAlpha1;
        var cosSqAlpha = 1 - sinAlpha * sinAlpha;
        var uSq = cosSqAlpha * (a * a - b * b) / (b * b);
        var A = 1 + uSq / 16384 * (4096 + uSq * ( - 768 + uSq * (320 - 175 * uSq)));
        var B = uSq / 1024 * (256 + uSq * ( - 128 + uSq * (74 - 47 * uSq)));
        var sigma = s / (b * A),
            sigmaP = 2 * Math.PI;
        while (Math.abs(sigma - sigmaP) > 1e-12) {
            var cos2SigmaM = Math.cos(2 * sigma1 + sigma);
            var sinSigma = Math.sin(sigma);
            var cosSigma = Math.cos(sigma);
            var deltaSigma = B * sinSigma * (cos2SigmaM + B / 4 * (cosSigma * ( - 1 + 2 * cos2SigmaM * cos2SigmaM) - B / 6 * cos2SigmaM * ( - 3 + 4 * sinSigma * sinSigma) * ( - 3 + 4 * cos2SigmaM * cos2SigmaM)));
            sigmaP = sigma;
            sigma = s / (b * A) + deltaSigma;
        }
        var tmp = sinU1 * sinSigma - cosU1 * cosSigma * cosAlpha1;
        var lat2 = Math.atan2(sinU1 * cosSigma + cosU1 * sinSigma * cosAlpha1, (1 - f) * Math.sqrt(sinAlpha * sinAlpha + tmp * tmp));
        var lambda = Math.atan2(sinSigma * sinAlpha1, cosU1 * cosSigma - sinU1 * sinSigma * cosAlpha1);
        var C = f / 16 * cosSqAlpha * (4 + f * (4 - 3 * cosSqAlpha));
        var L = lambda - (1 - C) * f * sinAlpha * (sigma + C * sinSigma * (cos2SigmaM + C * cosSigma * ( - 1 + 2 * cos2SigmaM * cos2SigmaM)));
        var revAz = Math.atan2(sinAlpha, -tmp); // final bearing
        var lonLatObj = {
            lon: lon1 + mapNumberUtil.deg(L),
            lat: mapNumberUtil.deg(lat2)
        }

        return lonLatObj;
    }
</script>